# Dev environment
pip
autopep8

# App
google-cloud-aiplatform
Pillow # PIL image-loading library
mesop
google-cloud-aiplatform  
chromadb 
langchain-chroma
google-cloud-discoveryengine 
langchain_google_community 
langchain
langchain-google-vertexai 
langchain-google-community[vertexaisearch] 
bs4 
lxml
